APP_URL=https://jovivafoods.com
CORS_ORIGIN=https://jovivafoods.com
ADMIN_EMAIL=admin@jovivafoods.com
ADMIN_PASSWORD_HASH=$2a$12$105tHMKJPFK2VypadkrYhO2qFqdI3Kac6adosbQR6oryeXoiqxIyS
JWT_SECRET=5c9aa878cadeb7347faab3da5468c3f6a5b174fb3f2bf251d0894ed860f04c61
GEMINI_API_KEY=your_gemini_key_here
DB_TYPE=json
DATA_DIR=/app/data
R2_ENDPOINT=https://862e610ac398171fd05d1a176cfc8d00.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=7db4736a1b3f55a1235b59e26804badc
R2_SECRET_ACCESS_KEY=84cb61a3080fbda2f222aa2a1047e6f9b3628f125458f002843ed606913d7ac4
R2_BUCKET_NAME=jovivafoods1
R2_PUBLIC_URL=https://pub-49a3c5a87fc44b5a930ff6fe353d0c9c.r2.dev
TELEGRAM_BOT_TOKEN=8593216259:AAEe1oG7_b5w4Q8ybTTrgNWc3MF3F-vRp_4
DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
